{% extends "c4w/listing_base.html" %}
{% set endpoint = 'organisation_list' %}

{% block listing_title %}{{ _('Organisations') }}{% endblock %}
{% block listing_count %}{{ ungettext('{n} organisation', '{n} organisations', listing.count).format(n=listing.count) }}{% endblock %}
{% block listing_search_label %}{{ _('Search organisations') }}{% endblock %}

{% block listing_cards %}
  <div class="c4w-card-grid">
    {% for organisation in listing.results %}
      {% snippet 'c4w/snippets/organisation_card.html', organisation=organisation %}
    {% endfor %}
  </div>
{% endblock %}

{% block listing_facets %}
  {% snippet 'c4w/snippets/facet_group.html', name='org_type', title=_('Type'),
     options=h.c4w_option_list('org_type'), counts=listing.facets.get('org_type', {}) %}
  {% snippet 'c4w/snippets/country_facet.html', counts=listing.facets.get('country', {}) %}
{% endblock %}
