{% extends "c4w/listing_base.html" %}
{% set endpoint = 'project_list' %}

{% block listing_title %}{{ _('Projects') }}{% endblock %}
{% block listing_count %}{{ ungettext('{n} project', '{n} projects', listing.count).format(n=listing.count) }}{% endblock %}
{% block listing_search_label %}{{ _('Search projects') }}{% endblock %}

{% block listing_cards %}
  <div class="c4w-card-grid">
    {% for project in listing.results %}
      {% snippet 'c4w/snippets/project_card.html', project=project %}
    {% endfor %}
  </div>
{% endblock %}

{% block listing_facets %}
  {% snippet 'c4w/snippets/country_facet.html', counts=listing.facets.get('country', {}) %}

  {% for name, title in [
      ('status', _('Status')), ('has_tag', _('Tags')),
      ('difficulty_level', _('Difficulty level')), ('topic', _('Topic')),
      ('participation_task', _('Participation task')),
      ('community_impact_type', _('Community impact type')),
      ('water_type', _('Water type')), ('water_data_type', _('Water data type')),
      ('stakeholder_type', _('Stakeholder type'))] %}
    {% snippet 'c4w/snippets/facet_group.html', name=name, title=title,
       options=h.c4w_option_list(name), counts=listing.facets.get(name, {}) %}
  {% endfor %}
{% endblock %}
